/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #0f1011;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #072580;
}
h1 {
  font-size: 6rem;
  color: white;
}
@media (max-width: 500px) {
  h1 {
    font-size: 5rem;
  }
}
h2 {
  padding-top: 3%;
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 3rem;
}
p {
  font-size: 2rem;
  line-height: 1.4;
}
@media (max-width: 500px) {
  p {
    font-size: 1.7rem;
  }
}
.container {
  background-color: whitesmoke;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    margin: 0 auto;
  }
}
.topsec {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: white;
  padding: 9px;
  padding-left: 5%;
  padding-right: 5%;
  position: fixed ;
  width: 100%;
  margin: 0 auto;
}
.topsec .title {
  width: 50%;
}
.topsec .navcont {
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .topsec .navcont {
    align-items: center;
    justify-content: flex-start;
    width: auto;
  }
}
.topsec .navcont nav {
  display: flex;
  justify-content: flex-end;
}
.topsec .navcont nav .btn {
  display: block;
  background-color: #db3742;
  width: 120px;
  height: 35px;
  font-size: 2rem;
  border-radius: 10px;
  color: white;
}
@media (max-width: 500px) {
  .topsec .navcont nav .btn {
    border-radius: 0px;
  }
}
footer {
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 850px) {
  footer {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  footer {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }
}
.home .heroimg {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-image: url(/img/berlin-hero2.jpg);
  display: flex;
}
@media (max-width: 500px) {
  .home .heroimg {
    width: 100%;
  }
}
.home .herocont {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 55%;
  text-align: center;
  margin-left: 25%;
  margin-top: 18%;
}
@media (max-width: 500px) {
  .home .herocont {
    width: 100%;
    margin-left: 0;
    margin-top: 25%;
  }
}
.home .herocont .Berlin {
  color: whitesmoke;
  font-size: 15rem;
  font-family: 'Bree Serif', serif;
  font-weight: 900;
}
.home .herocont .btn {
  display: block;
  background-color: #db3742;
  width: 120px;
  height: 35px;
  font-size: 2rem;
  border-radius: 10px;
  color: white;
}
@media (max-width: 500px) {
  .home .herocont .btn {
    border-radius: 0px;
  }
}
.home .One {
  background-color: rgba(15, 16, 17, 0.1);
  align-items: center;
  width: 100%;
}
.home .two {
  align-content: 0;
  justify-content: space-evenly !important;
}
.home .three {
  background-color: rgba(15, 16, 17, 0.1);
}
.home .content {
  text-align: center;
  padding-bottom: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: 0;
  margin: 0 auto;
}
.home .content .content-one-img {
  padding-top: 2%;
  display: flex;
  flex-wrap: wrap;
}
.home .content h1 {
  width: 100%;
  padding-top: 4%;
}
.home .content h4 {
  padding-top: 2%;
  padding-bottom: 3%;
}
.home .content .content-section {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: center;
  width: 29%;
  padding-top: 3%;
  padding-bottom: 4%;
  border-bottom: 2px solid black;
  margin: 1%;
}
.home .content .content-section .flag {
  display: inline;
}
.home .content .content-section .guest1 {
  border-radius: 40%;
  margin-bottom: 5%;
}
@media (max-width: 850px) {
  .home .content .content-section {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .home .content .content-section {
    width: 100%;
    margin: 0 auto;
  }
}
