.about-heroimg{
        
    width: 100%;
    
    margin: 0 auto;
    height: 100vh;
    // background-attachment: fixed;
    // padding:20%;
    background-position: center;
    background-size: cover;
    background-image: url(/img/berlin-hero2.jpg);
    display: flex;
    // align-items: center;
    @media @phone{
        width: 100%; 
               
      }
    
    .about-herocont{
        .layout(@f-flow:column wrap, @j-content:center, @a-items:center);
        width: 50%;
        height: 55%;
        // background-color: rgba(241, 246, 255, 0.82);
        text-align: center;
        // margin: 50px;
        margin-left: 25%;
        margin-top: 18%;
        @media @phone{
            width: 100%;
            margin-left: 0;
            margin-top: 25%; 
    }
         
   
}

.container {
    // max-width: 900px;
    background-color: red;

    width: 100%;
    margin: 0 auto; 
    
    @media @phone{
      // max-width: 800px;
      // width: 80%;
      margin: 0 auto; 
     
    }
};