.home{
    .intro{
        .heroimg{
            width: 100%;
            height: 500px;
            // padding:20%;
            background-position: 0px 0px;
            background-size: cover;
            background-image: url(/img/berlin-hero1.jpg);
        
        }



    }





}