.topsec {
   
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: gray;
    .padding();
    .topcontainerparam();
  
.title{
    width: 50%;
    // padding-top:1.4%;
    }//close title

    .navcont{
        width: 50%;
        margin: 0 auto;    
        
    
        nav{
            .btn{
                .custom-button();
            }
            // font-family: 'Ubuntu', sans-serif;
            
            // max-width: 400px;
            display: flex;
            justify-content: flex-end;
    
            @media @phone{
                width: 100%;
            }
            
        }//close nav
    
        
       
    
    }//close navcont
} //close title